<footer>
   <h3 id='contact'><a href="mailto:rmcavin@gmail.com">Contact</a></h3>
   <h3 id='contribute'><a href="https://github.com/open-austin/GreenBelts">Contribute</a></h3>
   <h3 id='openAustin'><a href="https://www.open-austin.org/">An Open Austin Project</a></h3>
 </footer>
