<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/header') %>
  <title>ATX TrailMix</title>
</head>


<body>
  <%- include('partials/nav') %>
  <h1> home page </h1>
  <%- include('partials/footer') %>
</body>
</html>
