
html {
  position: relative;
  min-height: 100vh;
}

main {
  margin: 30px auto 30px auto;
  padding: 20px;
  height: auto;
}

/* ========================= NAVBAR ========================== */
.navBar {
  width: 100 vw;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.navBar h1 {
  color: white;
  font-family: Candal;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

/* ============================ CARD ========================== */

.card {
  background: #fff;
  border-radius: 2px;
  width: 80vw;
  height: auto;
  margin: 20px auto 0 auto;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* =============================== MAP ========================= */
 #map {
   margin: auto;
   height: 400px;
   width: 90%;
 }

 /* =============================== FOOTER ========================= */

 footer {
     width: 100 vw;
     height: auto;
     background-color: black;
     color: white;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     padding: 0 20px 0 20px;
     text-align: center;
 }

 footer #contact {
   flex: 1 1 30%;
 }

 footer #contribute {
   flex: 1 1 30%;
 }

 footer #openAustin {
   flex: 1 1 30%;
 }

 footer a {
   color: white;
   text-decoration: none;
 }
